.card-img-top {
  width: 100px;
}

.beer {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
  width: 200px;
}

.card { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}